.App {
    background: linear-gradient( 76.5deg, rgb(129, 252, 255) 0.4%, rgb(255, 175, 207) 49.8%, rgb(255, 208, 153) 98.6%);
    font-family: "Plus Jakarta Sans", sans-serif;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.App-logo {
    width: 8.75%;
    display: block;
    margin: 0 auto;
}

.App footer {
    text-align: center;
    font-size: 10px;
    margin: 30px auto;
}

.App .esra {
    text-decoration: none;
}

.App .esra:hover {
    text-decoration: underline;
}

.App .ayaz {
    text-decoration: none;
}

.App .ayaz:hover {
    text-decoration: underline;
}