.App {
    background: rgba(20, 20, 20, 0.8);
    color: white;
}

.App-header {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.App-logo {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

.App footer {
    text-align: center;
    font-size: 10px;
    margin: 20px auto;
}

.App .esra {
    text-decoration: none;
}

.App .esra:hover {
    text-decoration: underline;
}

.App .ayaz {
    text-decoration: none;
}

.App .ayaz:hover {
    text-decoration: underline;
}